footer{
    background-color: #CED921;
    text-align: center;
    height: 10px;
    position: fixed;
    height: 50px;
    width: 100%;
}
#background-color{
    background-color: #94ff94;
}
.font{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
  }
  .middle {
    transition: .5s ease;
    opacity: 0;
    position:absolute;
    top: 50%;
    text-align: right;
    width: 250px;
  }
  .text {
    background-color: #A93400;
    color: white;
    font-size: 32px;
    padding: 16px 32px;
  }
.imagePortfolio:hover .image{
    opacity: 0.3;
}
.imagePortfolio:hover .middle{
    opacity: 0.8;
}